#video-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.video {
  max-width:100%;
}
  
.video video {
  width: 50%;
  height: auto;
  margin-left: 25%;
  padding: 0 0 2em 0;
}

@media (max-width: 920px) {
  .video video {
    width: 90%;
    height: auto;
    margin-left: 5%;
  }
}